{% extends "template.njk" %}
   
{% block content %}
	<div class="container home">
    <div class="alert alert-success" role="alert">
      {{user}}
    </div>
        <div class="buttons-box">
          <a class="ui linkedin button btn-block" href="/auth/salesforcelogout">
            <i class="fab fa-salesforce"></i>
            Logout
          </a>
        </div>

        <div class="buttons-box">
          <a class="ui linkedin button btn-block" href="#">
            <i class="fab fa-salesforce"></i>
            Install Practifi Package
          </a>
        </div>

        <div class="buttons-box">
          <a class="ui linkedin button btn-block" href="#">
            <i class="fab fa-salesforce"></i>
            Deploy Orion Integration
          </a>
        </div>
		
	</div>

{% endblock %}
